.header {
	position: relative;
	min-height: 800px;
	background: url(../img/header__bg.png) 0 0  no-repeat;
}
.header__nav {}
.header__nav-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	height: 100px;
	-ms-align-items: center;
	align-items: center;
}
.header__nav-block {}
.header__nav-block:last-child{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header__logo {}
.header__time {}
.last__time{
	margin-left: 60px;
}
.header__nav-title {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	margin-bottom: 5px;
	position: relative;
}
.header__nav-title:first-child:after{
	content: "";
	position: absolute;
	left: -30px;
	width: 20px;
	height: 20px;
	top: 3px;
	background: url(../icon/access_time_24px.png) 0 0 no-repeat;
}
.header__nav-title:last-child:after{
	content: "";
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(../icon/phone_24px.png) 0 0 no-repeat;
}

.header__nav-text {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
}
.header__btn {}
.header__btn button{
	background: #F2726F;
	border-radius: 8px;
	width: 222px;
	height: 45px;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: 60px;
}

.header__menu {
	height: 60px;
	max-width: 100%;
	background: #FFFFFF;
	border-radius: 10px;
}
.header__menu-row {
	height: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.header__menu-block {}
.header__list {}
.header__list ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header__list ul li a{
	margin-left: 35px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.15px;
	color: #000000;
	position: relative;
}
.header__list ul li a:after{
	position: absolute;
	content: "";
	width: 0;
	height: 1px;
	background-color: #333;
	transition: all 0.7s ease 0s;
	bottom: 0px;
	left: 50%;
}
.header__list ul li a:hover:after{
	width: 100%;
	left: 0;
}
.header__icon {
	padding-right: 30px;
}
.header__icon img:first-child{
	padding-right: 20px;
}
.header__burger{
	display: none;
}

.main__header-title {
	font-style: normal;
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
	max-width: 583px;
	color: #FFFFFF;
	margin-top: 150px;
}
.main__header-btn {}
.main__header-btn button{
	margin-top: 50px;
	background: #F2726F;
	border-radius: 8px;
	height: 50px;
	width: 210px;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 2px;
}


@media(max-width: 768px) {
	body.lock{
		overflow: hidden;
	}
	.main__header-title.active{
		opacity: 0;
	}
	.main__header-btn.active{
		opacity: 0;
	}
	.main__header-title{
		padding-left: 20px;
		font-size: 35px;
	}
	.main__header-btn{
		padding-left: 20px;
	}
	.header__menu{
		margin: 0px 20px;
		margin-top: 20px;
	}
	.header__burger{
		display: block;
		padding-left: 20px;
	}
	.header__list{
		position: absolute;
		top: -100%;
		left: 10%;
		transition: all 1s ease 0s;
	}
	.header__list.active{
		top: 28%;
	}
	.header__list ul{
		display: block;
	}
	.header__list ul li a{
		margin-left: 0;
		margin-bottom: 20px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	.header__logo{
		margin-top: 35px;
		margin-bottom: 20px;
	}
	.last__time{
		margin-left: -18px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.header__nav-row{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.header__time{
		display: none;
	}
	.header__btn{
		display: none;
	}
	.header__btn button{
		margin-left: 0;
	}
	.header__nav-block:last-child{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.first-time{
		padding-left: 50px;
	}

}
@media(max-width: 378px) {
	.main__header-title{
		font-size: 30px;
	}
}
@media(max-width: 320px) {
	.header__list.active{
		top: 36%;
	}
}